ProDy==2.4.1
scipy==1.13.0
biopython==1.79
dill==0.4.0
requests==2.32.4
rcsb-api
pandas==2.2.3
OpenMM==8.2.0
propka==3.5.1
tensorflow==2.17.0
numpy==1.23.5
matplotlib==3.10.0
fpdf==1.7.2
gdown==5.2.0
scikit-learn==1.6.1
seaborn==0.13.2
ml_collections==1.0.0
prettytable==3.16.0
tensorflow==2.17.0
shap==0.41.0
flask==3.1.2
more_itertools==10.8.0
# Editable Git install with no remote (PyRONN==4.0rc0)
-e ./pyRONN
